@import "tailwindcss";

*::-webkit-scrollbar {
  display: none;
}

@theme {
  --animate-slideFadeInDropdown: slide-fade-in-dropdown 0.6s ease-in-out;
  --animate-slideFadeOutDropdown: slide-fade-out-dropdown 0.6s ease-in-out;

  @keyframes slide-fade-in-dropdown {
    0% {
      transform: translate3d(0, -100%, 0);
    }

    100% {
      transform: translate3d(0, 0, 0);
    }
  }

  @keyframes slide-fade-out-dropdown {
    0% {
      transform: translate3d(0, 0, 0);
    }

    100% {
      transform: translate3d(0, 100%, 0);
    }
  }
}
